// BG-COLORS
$bg-black: #0A0808;
$bg-dark: #150101;
$bg-white: #fff;
$bg-white-1: #FAFAFA;
$bg-pink: #D23166;
$bg-openpink: #FBF0F4;

// TEXT COLORS
$txt-black: #0A0808;
$txt-dark: #150101;
$txt-white: #fff;
$txt-white-1: #FAFAFA;
$txt-pink: #D23166;
$txt-openpink: #F2CEDA;

// FONT FAMILY
$roboto: "Roboto";
$fredoka: "Fredoka";
$Hind-Madurai: "Hind Madurai";

// FONT SIZE
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-45: 45px;
$fs-58: 58px;

//FONT WEIGHT
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;