section.see-Details
  .container
    .left--side
      h2 Brown Sugar Oatmea
      p Together with McDonald’s, Burger King has grown to become synonymous with burgers in the US.Together with McDonald’s, Burger King has grown to become synonymous.
      button.buy-now-btn See Details
    .right--side
      .img-cont