section.simple-way
  .container
    .left-side
      .img
    .right-side
      h2 Simple Way To Order Your Food
      p Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts.
      ul
        li
          i(class="ri-bowl-line")
          | Select Your Food
        li
          i(class="ri-shopping-cart-2-line")
          | Add To Cart
        li
          i(class="ri-edit-2-line")
          | Order Your Food
      .market-links
        a(href="https://play.google.com/")
        a(href="https://www.apple.com/app-store")