section.question
  .container
    h2 Have Question in Mind? Let us help you
    .input-box
      input(type="text" class="question-input" placeholder="Enter your question" autocomplete="off")
      button.send-btn Send