section.Delivery
  .container
    .cards
      .card
        img(src="./assets/img/car-icon.png", alt="car icon")
        h5 Free Shipping
        p Last Chance! Free shipping on all orders ends today.
      .card
        img(src="./assets/img/coffee-icon.png", alt="coffee icon")
        h5 Quick Packaging
        p Last Chance! Free shipping on all orders ends today.
      .card
        img(src="./assets/img/cash-back.png", alt="cash back icon")
        h5 100% Money Back
        p Last Chance! Free shipping on all orders ends today.
      .card
        img(src="./assets/img/fast-delivery.png", alt="fast delivery icon")
        h5 Fast Delivery
        p Last Chance! Free shipping on all orders ends today.
