section.hero-sec
  .container
    .left--side
      h4 Sweet fun, full of milk.
      h1 Feel inside cold with our delicious
        span  ice-cream.
      p Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts, my words.
      button(class="buy-now-btn") Buy Now
    .right--side
      .img-cont