header.header
  .container
    a(href="#")
      img(class="logo-img" src="./assets/img/logo.png", alt="Web site logo")
    ul.list-links
      li
        a(href="#") Home
      li
        a(href="#") Product
      li
        a(href="#") Piricing
      li
        a(href="#") Testimonials
      li
        a(href="#") Contact Us
    button(class="buy-now-btn" id="buyNowBtn") Buy Now